/*css for login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;       
    height: 100vh;              
    background: beige;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 10px;              
    background: gray;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 250px;
    padding: 8px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: brown;
    color: white;
}

p {
    margin: 5px 0;
    color: darkslategray; 
    text-align: center;
}

p a {
    color: brown;           
    text-decoration: none;  
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
    color: skyblue;         
    cursor: pointer;
}