/* css for index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: gray;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: burlywood;
}

p {
    color: whitesmoke;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: wheat;
    background-color: brown;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: skyblue;
    cursor: pointer;
}