/* css for register */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: gray;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    margin-bottom: 20px;
    color: burlywood;
}


input {
    padding: 8px;
    width: 250px;
    border: none;
    border-radius: 5px;
}


button {
    padding: 10px;
    background-color: brown;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: skyblue;
}


p {
    margin-top: 10px;
    color: brown;
}

p a {
    color: wheat;
    text-decoration: none;
}

p a:hover {
    color: skyblue;
}